<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<connectionStrings>
		<add name="buddyCS"
		  connectionString="Data Source=netdesign-buddy-prod.database.windows.net;Initial Catalog=Buddy-DB;Persist Security Info=False;User ID=tdcbuddy;Pooling=False;Connect Timeout=60;Encrypt=True;TrustServerCertificate=True"
		  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>

	<appSettings>
		<add key="serilog:write-to:Seq.serverUrl"
			value="https://netdesign-buddy-prod.northeurope.cloudapp.azure.com:5341"
		  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="serilog:minimum-level"
			value="Warning"
		  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

	</appSettings>

	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>
