

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <link rel="stylesheet" href="~/css/HomeControllerStyling/accessdenied.css">

</head>
<body>
<div>
    <div class="message">
        <h1>This resource could not be found</h1>
        <a asp-controller="Home" asp-action="Overview" type="submit" style="text-decoration: none; color: white">Click here to return to Overview</a>
    </div>
    <img src="~/tdc png logo.png" alt="TDC Logo"></img>
</div>
</body>
</html>