@page "/"
@{
    ViewBag.Title = "Profile";
    var Title = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userProfile = ViewBag.Username;
    var userMail = ViewBag.UserMail;
}

<h2>@Title</h2>
<p>
    <strong>Name: </strong>@userProfile
</p>
<p>
    <strong>Email: </strong> @userMail
</p>
<p>
    <mgt-person person-query="me" view="threelines"></mgt-person>
</p>