.menuItems {
    padding-bottom: 5px;
    color: gray;
    font-size: 14px;
    border-left: 1px solid white;
    cursor: pointer;
    text-decoration: none;
}

    .menuItems.a:link {
        padding-bottom: 5px;
        color: gray;
        font-size: 14px;
        border-left: 1px solid white;
        cursor: pointer;
        text-decoration: none;
    }

    .menuItems.a:active {
        padding-bottom: 5px;
        color: gray;
        font-size: 14px;
        border-left: 1px solid black;
        background: #F0F0F0;
        cursor: pointer;
        text-decoration: none;
    }

    .menuItems:hover {
        background: #F9F9F9;
        border-left: 1px solid black
    }


.menuItemSelected {
    padding-bottom: 5px;
    color: gray;
    font-size: 14px;
    border-left: 1px solid black;
    background: #F0F0F0;
}

.menuHeaders {
    font-size: 10px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 20px;
}


.menuSpacer {
    border-bottom: 1px solid lightgrey;
    height: 1px;
    padding-top: 20px;
    padding-bottom:0px;
}

.fa-user:hover {
    cursor: pointer;
}

.minProfil {
    font-family: Mukta Mahee,Helvetica Neue,Arial,sans-serif;
    display: inline;
    margin-right: 10px;
}
.minProfil:hover {
    cursor: pointer;
}
