<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="buddyCS"
		  connectionString="Data Source=(local);Initial Catalog=RegSyd0612;Persist Security Info=True;User ID=sa;Password=Password1;Pooling=False;Connect Timeout=60;Encrypt=True;TrustServerCertificate=True"
		  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>
</configuration>