
@{
    ViewData["Title"] = "Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Groups</h1>
<div id="groupsDiv">
    <a class="btn btn-primary" id="showGroupsButton" onclick="showGroups()">Show Groups</a>
</div>
@* <script src="~/js/authConfig.js" asp-append-version="true"></script> *@
@* <script src="~/js/auth.js" asp-append-version="true"></script> *@
@* <script src="~/js/graph.js" asp-append-version="true"></script> *@
@* <script src="~/js/ui.js" asp-append-version="true"></script> *@


