
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Users</h1>
<div id="usersDiv">
        <a class="btn btn-primary" id="showUsersButton" onclick="showUsers()">Show Users</a>
</div>
